<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 class="mat-display-3">
    {{ title }}
  </h1>
  <img width="50" alt="Pull Party" src="assets/pull_icon.png">
</div>

<div>
  <h2>Latest PRs</h2>

  <div *ngFor="let pull of pullRequests">
    <a href="{{pull.html_url}}" target="_blank" style="text-decoration:none">
    <mat-card style="margin-bottom:8px;">
      <mat-card-title>{{pull.title}}</mat-card-title>
      <mat-card-subtitle>{{pull.user.login}} - {{pull.created_at}} - {{pull.timeSinceCreation}}</mat-card-subtitle>
    </mat-card>
  </a>
  </div>
</div>
