<!--The content below is only a placeholder and can be replaced.-->
<div style="margin-bottom:16px;">
  <h1 class="mat-display-3" style="width:20%;display: inline">
    {{ title }}
  </h1>

  <img src="assets/pool.png" style="height:60px" />



  <span style="float:right">
  <div>
  Updated: {{lastUpdatedTimestamp | date:'medium'}}
</div>
  <mat-form-field >
    <mat-select [(value)]="selectedRepo" (change)="pollForRequests()">
      <mat-option value="ring-android">Android</mat-option>
      <mat-option value="ring-ios">iOS</mat-option>
    </mat-select>
  </mat-form-field>
</span>
</div>
<div>
  <div *ngFor="let pull of pullRequests">
    <a href="{{pull.html_url}}" target="_blank" style="text-decoration:none">
      <mat-card style="margin-bottom:8px;" [ngStyle]="cardBackground(pull)">

        <mat-card-title-group>
          <mat-card-title>{{pull.title}}</mat-card-title>
          <mat-card-subtitle>{{pull.created_at | date:'short'}} - {{pull.user.login}}</mat-card-subtitle>
          <img *ngIf="pull.isNew" mat-card-avatar src="assets/new-box.png" />

        </mat-card-title-group>
      </mat-card>
    </a>
  </div>
  <div *ngIf="retrievalInProgress" style="margin:auto; width:30%">
    <mat-spinner style="margin:auto;"></mat-spinner>
  </div>
</div>
